<div class="display-header">{{ displayHeader }}</div>

<kendo-splitter orientation="vertical" style="height: 100%">
    <kendo-splitter-pane [resizable]="true" [collapsible]="true">
        <kendo-splitter orientation="horizontal" style="height: 100%">
            <kendo-splitter-pane>
                <div kendoTooltip>
                    <div style="margin: 5px; display: inline-flex">
                        <app-back-navigate *ngIf="pageType==='grid'"></app-back-navigate>
                        <button *ngIf="pageType==='form'" style="margin-right: 2px" kendoButton
                            (click)="pageType='grid'" icon="arrow-60-left" themeColor="secondary" title="Back"></button>

                        <ng-container *ngIf="pageType==='grid'">
                            <button kendoButton style="margin-left: 2px" (click)="onRefreshClick()" icon="refresh"
                                themeColor="primary" title="Refresh"></button>
                            <!-- <app-filter-dialog *ngIf="this.filterControls.length > 0" [filterControls]="filterControls"
                                (formSubmit)="onFilterSubmit($event)" (formReset)="onFilterReset()"></app-filter-dialog> -->
                            <button kendoButton style="margin-left: 2px" (click)="onExportToExcelClick()" icon="excel"
                                title="Export to exccel"></button>
                            <button kendoButton *ngIf="enableAdd" style="margin-left: 2px" (click)="onAddNewClick()"
                                icon="add" themeColor="info" title="Create new"></button>
                            <!-- <button kendoButton style="margin-left: 2px" *ngFor="let action of gridCustomHeaderButtons"
                                (click)="onGridCustomerHeaderButtonClick(action.name)" icon="{{action.icon}}"
                                [themeColor]="action.themeColor" title="{{ action.altText }}"></button> -->
                        </ng-container>
                    </div>
                </div>
                <div style="margin: 5px;">
                    <ng-container *ngIf="pageType==='grid'">
                        <app-grid [gridDetails]="gridDetails" [height]="gridHeight" [width]="gridWidth"
                            [gridColumns]="gridColumns" [gridActions]="gridActions"  (gridRowAction)="onGridRowAction($event)"></app-grid>
                    </ng-container>
                    <ng-container *ngIf="pageType==='form'">
                        <div>
                            <app-dynamic-form [inputControls]="formControls" [resetForm]="resetForm"
                                [actionButtons]="formActionButtons" [inputValues]="formInputValues"
                                (formActionClick)="onFormActionClick($event)"></app-dynamic-form>
                        </div>
                    </ng-container>
                </div>
            </kendo-splitter-pane>
        </kendo-splitter>
    </kendo-splitter-pane>
</kendo-splitter>
<app-delete-dialog [showDelete]="showDeleteDialog" (dialogResult)="onDeleteDialogResult($event)" ></app-delete-dialog>