<kendo-appbar position="top">
  <kendo-appbar-section>
      <button kendoButton fillMode="flat" (click)="toggleDrawer()">
          <kendo-icon name="menu"></kendo-icon>
      </button>  
  </kendo-appbar-section>
  <kendo-appbar-section>
      <h1 class="title">FAT</h1>
  </kendo-appbar-section>
  <kendo-appbar-spacer></kendo-appbar-spacer>
  <kendo-appbar-section>
      <button kendoButton (click)="onLogoutPressed()" icon="logout" themeColor="primary">Logout</button>
  </kendo-appbar-section>
</kendo-appbar>  